<nav>
  <div class="left-nav">
    <ul>
      <li>
        <a href="#">
          ALL SAUCES
        </a>
      </li>
      <li>
        <a href="#">
          ADD SAUCE
        </a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo-image">
      <img src="../../assets/images/flame.png">
    </div>
    <div class="logo-text">
      <h1>
        HOT TAKES
      </h1>
      <h5>
        THE WEB'S BEST HOT SAUCE REVIEWS
      </h5>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>
        <a href="#">
          SIGN UP
        </a>
      </li>
      <li>
        <a href="#">
          LOGIN
        </a>
      </li>
      <li>
        <a href="#">
          LOGOUT
        </a>
      </li>
    </ul>
  </div>
</nav>
